body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.btn{
    background-color: rgb(93, 135, 180);
    color: black;
    font-size: large;
    padding: .25em;
    border-radius: .75em;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
    margin: 0.5em;
    padding: 1em;
    border-style: outset;
    border-width: .5em;
    border-radius: 1em;
    border-color: #AAAAAA;
}
#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    width: 75%;
}
#results{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    color: rgb(245, 245, 245);
    font-size: large;
    min-width: 25em;
    height: 22em;
    background-color: rgb(85, 99, 114);
    border-style: inset;
    border-color: lightgray;
}